body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  background-color: #333; /* Dark grey background */
  color: #f0f0f0; /* Light text color to contrast with dark background */
}

#container {
  display: flex;
  width: 100%;
}

aside {
  width: 25%;
  background-color: #444; /* Dark grey sidebar */
  padding: 20px;
  border-right: 1px solid #555; /* Slightly lighter grey border for contrast */
}

main {
  width: 75%;
  padding: 20px;
  background-color: #444; /* Dark grey main content */
}

h2, h1 {
  margin: 0 0 10px;
  color: #f0f0f0; /* Light text for headings */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 5px 0;
  background: #555; /* Lighter grey for list items */
  cursor: pointer;
  color: #fff; /* Light text color for list items */
}

li.film {
  background: #666; /* Even lighter grey for films */
  border: 1px solid #777; /* Subtle border */
}

li.selected {
  background-color: #777; /* Highlight selected item with a slightly lighter grey */
}

button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

#movie-poster {
  max-width: 100%;
  height: auto;
  max-height: 300px;
  display: block;
  margin: 10px auto;
}

